.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(130, 93, 78) 1% , rgb(139, 126, 216) 3% , rgb(16, 121, 254) 19% , rgb(113, 216, 131) 20% , rgb(170, 253, 15) 23% , rgb(107, 72, 87) 27% , rgb(236, 18, 70) 35% , rgb(93, 199, 129) 41% , rgb(11, 140, 197) 61% , rgb(138, 124, 65) 68% , rgb(0, 0, 0) 80% , rgb(218, 128, 191) 80% , rgb(53, 43, 216) 96%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(130, 93, 78) 1% , rgb(139, 126, 216) 3% , rgb(16, 121, 254) 19% , rgb(113, 216, 131) 20% , rgb(170, 253, 15) 23% , rgb(107, 72, 87) 27% , rgb(236, 18, 70) 35% , rgb(93, 199, 129) 41% , rgb(11, 140, 197) 61% , rgb(138, 124, 65) 68% , rgb(0, 0, 0) 80% , rgb(218, 128, 191) 80% , rgb(53, 43, 216) 96%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(130, 93, 78) 1% , rgb(139, 126, 216) 3% , rgb(16, 121, 254) 19% , rgb(113, 216, 131) 20% , rgb(170, 253, 15) 23% , rgb(107, 72, 87) 27% , rgb(236, 18, 70) 35% , rgb(93, 199, 129) 41% , rgb(11, 140, 197) 61% , rgb(138, 124, 65) 68% , rgb(0, 0, 0) 80% , rgb(218, 128, 191) 80% , rgb(53, 43, 216) 96%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(130, 93, 78) 1% , rgb(139, 126, 216) 3% , rgb(16, 121, 254) 19% , rgb(113, 216, 131) 20% , rgb(170, 253, 15) 23% , rgb(107, 72, 87) 27% , rgb(236, 18, 70) 35% , rgb(93, 199, 129) 41% , rgb(11, 140, 197) 61% , rgb(138, 124, 65) 68% , rgb(0, 0, 0) 80% , rgb(218, 128, 191) 80% , rgb(53, 43, 216) 96%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(130, 93, 78) 1% , rgb(139, 126, 216) 3% , rgb(16, 121, 254) 19% , rgb(113, 216, 131) 20% , rgb(170, 253, 15) 23% , rgb(107, 72, 87) 27% , rgb(236, 18, 70) 35% , rgb(93, 199, 129) 41% , rgb(11, 140, 197) 61% , rgb(138, 124, 65) 68% , rgb(0, 0, 0) 80% , rgb(218, 128, 191) 80% , rgb(53, 43, 216) 96%);






}