.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(64, 232, 148) 43% , rgb(236, 236, 171) 44% , rgb(76, 171, 180) 55% , rgb(0, 0, 0) 80% , rgb(28, 197, 241) 88%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(64, 232, 148) 43% , rgb(236, 236, 171) 44% , rgb(76, 171, 180) 55% , rgb(0, 0, 0) 80% , rgb(28, 197, 241) 88%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(64, 232, 148) 43% , rgb(236, 236, 171) 44% , rgb(76, 171, 180) 55% , rgb(0, 0, 0) 80% , rgb(28, 197, 241) 88%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(64, 232, 148) 43% , rgb(236, 236, 171) 44% , rgb(76, 171, 180) 55% , rgb(0, 0, 0) 80% , rgb(28, 197, 241) 88%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(64, 232, 148) 43% , rgb(236, 236, 171) 44% , rgb(76, 171, 180) 55% , rgb(0, 0, 0) 80% , rgb(28, 197, 241) 88%);






}