.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(119, 118, 29) 36% , rgb(90, 95, 187) 39% , rgb(10, 233, 164) 46% , rgb(157, 0, 183) 57% , rgb(56, 22, 188) 59% , rgb(239, 85, 84) 64% , rgb(0, 0, 0) 80% , rgb(222, 75, 241) 85% , rgb(170, 61, 23) 86% , rgb(54, 98, 222) 94% , rgb(161, 71, 185) 95% , rgb(56, 156, 19) 97% , rgb(45, 101, 91) 99%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(119, 118, 29) 36% , rgb(90, 95, 187) 39% , rgb(10, 233, 164) 46% , rgb(157, 0, 183) 57% , rgb(56, 22, 188) 59% , rgb(239, 85, 84) 64% , rgb(0, 0, 0) 80% , rgb(222, 75, 241) 85% , rgb(170, 61, 23) 86% , rgb(54, 98, 222) 94% , rgb(161, 71, 185) 95% , rgb(56, 156, 19) 97% , rgb(45, 101, 91) 99%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(119, 118, 29) 36% , rgb(90, 95, 187) 39% , rgb(10, 233, 164) 46% , rgb(157, 0, 183) 57% , rgb(56, 22, 188) 59% , rgb(239, 85, 84) 64% , rgb(0, 0, 0) 80% , rgb(222, 75, 241) 85% , rgb(170, 61, 23) 86% , rgb(54, 98, 222) 94% , rgb(161, 71, 185) 95% , rgb(56, 156, 19) 97% , rgb(45, 101, 91) 99%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(119, 118, 29) 36% , rgb(90, 95, 187) 39% , rgb(10, 233, 164) 46% , rgb(157, 0, 183) 57% , rgb(56, 22, 188) 59% , rgb(239, 85, 84) 64% , rgb(0, 0, 0) 80% , rgb(222, 75, 241) 85% , rgb(170, 61, 23) 86% , rgb(54, 98, 222) 94% , rgb(161, 71, 185) 95% , rgb(56, 156, 19) 97% , rgb(45, 101, 91) 99%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(119, 118, 29) 36% , rgb(90, 95, 187) 39% , rgb(10, 233, 164) 46% , rgb(157, 0, 183) 57% , rgb(56, 22, 188) 59% , rgb(239, 85, 84) 64% , rgb(0, 0, 0) 80% , rgb(222, 75, 241) 85% , rgb(170, 61, 23) 86% , rgb(54, 98, 222) 94% , rgb(161, 71, 185) 95% , rgb(56, 156, 19) 97% , rgb(45, 101, 91) 99%);






}