

.theme_bg{

	background-image:url(../images/main_bg.jpg);

	background-position:center bottom;

	background-repeat:no-repeat;

	min-width:320px;

	background-color:#fff;

	background-size: auto 100%;

}

.logo{

	transition:all ease .3s;

	margin: 0 auto;

	padding-top: 28%;

}



.ui-footer {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

    border-bottom-width: 0;

    border-left-width: 0;

    border-right-width: 0;

    border-top: medium none !important;

}

.owl-demo .item{

	width:70px;

	height:70px;

	display:table-cell;

	/*background:url(../images/icon_bg.png) no-repeat;*/

	vertical-align:middle;

	text-align:center;

}

.ui-header{

	background:#dce1e5 !important;

	border:none !important;

	background-size:auto 100% !important;

}

.ui-header a{

	box-shadow:none;

}

.ui-header .ui-title, .ui-footer .ui-title{

	text-shadow:none !important;

	color:#0A2654 !important;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:bold;

	font-size:26px;

	margin:0 23%;

}

.ui-icon-customrefresh:after {

	background-image: url("../images/refresh_icon.png");

	

}

.ui-icon-customrefresh:after{

	background-color:none;

	border:none;

	border-radius:none;

	height:42px;

	width:42px;

}

.ui-header .ui-btn-icon-notext{

	margin-top:11px;

}

.refresh_link,.help_link{

	border:none !important;

	background:none !important;

}

.refresh_link:hover,.refresh_link:active,.refresh_link:focus,.help_link:focus,.help_link:hover,.help_link:active{

	box-shadow:none !important;

}





/* custom setting of icons */

.app_feature_list a img{

	max-height:32px;

	max-width:32px;

}



.theme_bg
{
	background-image:none;
	background-repeat:no-repeat;
	background-size:cover;	
	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(131, 143, 69) 1% , rgb(73, 79, 14) 8% , rgb(168, 136, 235) 25% , rgb(202, 103, 84) 27% , rgb(39, 193, 46) 38% , rgb(176, 140, 47) 43% , rgb(129, 254, 20) 44% , rgb(119, 196, 229) 59% , rgb(201, 203, 101) 76% , rgb(0, 0, 0) 80% , rgb(150, 133, 106) 87% , rgb(249, 40, 39) 90%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(131, 143, 69) 1% , rgb(73, 79, 14) 8% , rgb(168, 136, 235) 25% , rgb(202, 103, 84) 27% , rgb(39, 193, 46) 38% , rgb(176, 140, 47) 43% , rgb(129, 254, 20) 44% , rgb(119, 196, 229) 59% , rgb(201, 203, 101) 76% , rgb(0, 0, 0) 80% , rgb(150, 133, 106) 87% , rgb(249, 40, 39) 90%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(131, 143, 69) 1% , rgb(73, 79, 14) 8% , rgb(168, 136, 235) 25% , rgb(202, 103, 84) 27% , rgb(39, 193, 46) 38% , rgb(176, 140, 47) 43% , rgb(129, 254, 20) 44% , rgb(119, 196, 229) 59% , rgb(201, 203, 101) 76% , rgb(0, 0, 0) 80% , rgb(150, 133, 106) 87% , rgb(249, 40, 39) 90%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(131, 143, 69) 1% , rgb(73, 79, 14) 8% , rgb(168, 136, 235) 25% , rgb(202, 103, 84) 27% , rgb(39, 193, 46) 38% , rgb(176, 140, 47) 43% , rgb(129, 254, 20) 44% , rgb(119, 196, 229) 59% , rgb(201, 203, 101) 76% , rgb(0, 0, 0) 80% , rgb(150, 133, 106) 87% , rgb(249, 40, 39) 90%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(131, 143, 69) 1% , rgb(73, 79, 14) 8% , rgb(168, 136, 235) 25% , rgb(202, 103, 84) 27% , rgb(39, 193, 46) 38% , rgb(176, 140, 47) 43% , rgb(129, 254, 20) 44% , rgb(119, 196, 229) 59% , rgb(201, 203, 101) 76% , rgb(0, 0, 0) 80% , rgb(150, 133, 106) 87% , rgb(249, 40, 39) 90%);
}





